<div class="w-full p-4 bg-gradient-to-r from-[#BB86FC] to-[#03DAC6]">
    <div class="flex items-center justify-between flex-wrap">
        <!-- Left Side: Logo and Dropdown Menu -->
        <div class="relative group mb-4 sm:mb-0">
            <div
                class="w-12 h-12 flex items-center justify-center text-white cursor-pointer">
                <img src="../../assets/logo/icon.svg" alt="texte alternatif">
            </div>
            <div class="hidden group-hover:block absolute top-full left-0 bg-white p-2 rounded-md shadow-md">
                <span class="text-xl mr-2">AI</span> <br>
                <span class="text-xl mr-2">Programmation</span> <br>
                <span class="text-xl mr-2">Devops</span><br>
                <span class="text-xl">Web Developement</span><br>
                <span class="text-xl">Data Science</span><br>
                <span class="text-xl">Logiciel</span><br>
                <span class="text-xl">Design</span><br>
                <span class="text-xl">Bureautique(mail,traitement de texte, extension)</span>
            </div>
        </div>

        <!-- Center: Navigation Links -->
        <nav class="space-x-4 mb-4 sm:mb-0 flex flex-wrap justify-center">
            <a href="#" class="hover:bg-gray-200 px-3 py-2 rounded-md transition duration-300">Accueil</a>
            <a href="#" class="hover:bg-gray-200 px-3 py-2 rounded-md transition duration-300">Liste des ressources</a>
            <a href="#" class="hover:bg-gray-200 px-3 py-2 rounded-md transition duration-300">À propos</a>
            <a href="#" class="hover:bg-gray-200 px-3 py-2 rounded-md transition duration-300">Proposer un outil</a>
        </nav>

        <!-- Right Side: Search and User Profile -->
        <div class="flex flex-wrap items-center space-x-4">
            <!-- Search Bar -->
            <div class="relative w-full sm:w-auto mb-4 sm:mb-0">
                <input type="text" placeholder="Rechercher..." (input)="onSearchChange($event)"
                    class="border border-gray-300 rounded-md px-4 py-2 w-full sm:w-auto focus:outline-none focus:ring-2 focus:ring-blue-500" />
                <div class="absolute top-full right-0 bg-white min-w-[200px] rounded-md shadow-md z-10 hidden">
                    <!-- Remplacez ceci par votre logique de recherche -->
                    <div class="p-2 hover:bg-gray-100 cursor-pointer">Résultat de recherche pour "{{ searchQuery }}"</div>
                </div>
            </div>
        </div>
    </div>
</div>
