.custom-title {
    color: white; /* Couleur de police blanche */
    font-size: 2rem; /* Taille de police */
    text-align: center; /* Centrer le titre */
    margin-bottom: 20px; /* Espacement en bas */
}

.custom-search-bar {
    display: flex; /* Flexbox pour aligner les éléments */
    justify-content: center; /* Centrer la barre de recherche */
    margin-bottom: 20px; /* Espacement en bas */
}

.search-input {
    border: 1px solid #3498db; /* Bordure personnalisée */
    border-radius: 25px; /* Coins arrondis */
    padding: 10px 20px; /* Espacement interne */
    width: 300px; /* Largeur de la barre de recherche */
    background-color: #f0f4f8; /* Couleur de fond douce */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transition pour la bordure et l'ombre */
}

.search-input:focus {
    border-color: #2980b9; /* Couleur de bordure au focus */
    outline: none; /* Supprimer le contour par défaut */
    box-shadow: 0 0 5px rgba(41, 128, 185, 0.5); /* Ombre au focus */
}

.search-button {
    background-color: #3498db; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Supprimer la bordure */
    border-radius: 50%; /* Coins arrondis pour un look moderne */
    padding: 10px; /* Espacement interne */
    cursor: pointer; /* Curseur pointer */
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s; /* Transition pour l'effet au survol */
    margin-left: 10px; /* Espacement à gauche */
    width: 50px; /* Largeur fixe */
    height: 50px; /* Hauteur fixe */
    display: flex; /* Centrer l'icône */
    align-items: center; /* Centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre légère pour le bouton */
}

.search-button:hover {
    background-color: #2980b9; /* Couleur au survol */
    transform: scale(1.1); /* Légère augmentation au survol */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ombre plus prononcée au survol */
}

.search-button img {
    width: 20px; /* Largeur de l'image */
    height: 20px; /* Hauteur de l'image */
}

.search-button i {
    font-size: 22px; /* Ajustez la taille de l'icône si nécessaire */
    line-height: 1; /* Assurez-vous que l'icône est bien centrée */
}

.tool-card {
    border-radius: 15px; /* Coins arrondis */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Ombre douce */
    transition: transform 0.3s, box-shadow 0.3s; /* Animation de transformation et d'ombre */
    overflow: hidden; /* Masquer le débordement */
    background-color: rgba(255, 255, 255, 0); /* Couleur de fond complètement transparente */
    padding: 20px; /* Espacement interne */
    margin: 10px; /* Espacement entre les cartes */
}

.tool-card:hover {
    transform: translateY(-5px); /* Légère élévation au survol */
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3); /* Ombre plus prononcée au survol */
}

.p-card-image {
    border-radius: 10px; /* Coins arrondis pour l'image */
    width: 100%; /* Largeur de l'image */
    height: 200px; /* Hauteur fixe pour limiter la taille de l'image */
    object-fit: cover; /* Couvrir l'espace sans déformer l'image */
    margin-bottom: 15px; /* Espacement en bas de l'image */
}

.tool-name {
    font-weight: bold; /* Texte en gras */
    font-size: 1.6rem; /* Taille de police légèrement augmentée */
    margin: 10px 0; /* Espacement */
    color: #333; /* Couleur de texte plus foncée pour le nom */
}

.tool-description {
    color: #444; /* Couleur de texte légèrement plus foncée pour une meilleure lisibilité */
    font-size: 1rem; /* Taille de police */
    margin-bottom: 15px; /* Espacement en bas */
    white-space: normal; /* Permet le retour à la ligne */
    overflow: hidden; /* Masque le texte qui déborde */
    text-overflow: ellipsis; /* Affiche des points de suspension (...) pour le texte débordant */
    display: -webkit-box; /* Utilisation de la boîte flexible pour le clamping */
    -webkit-box-orient: vertical; /* Orientation verticale */
    -webkit-line-clamp: 3; /* Limite à 3 lignes */
    background-color: rgba(255, 255, 255, 0); /* Couleur de fond complètement transparente */
    padding: 10px; /* Espacement interne */
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s; /* Transition pour le changement de fond */
}

.tool-card:hover .tool-description {
    background-color: rgba(255, 255, 255, 0); /* Changement de couleur de fond au survol pour un effet visuel */
}

.container {
    max-width: 1200px; /* Largeur maximale du conteneur */
    margin: 0 auto; /* Centrer le conteneur */
    padding: 20px; /* Espacement interne */
}

.grid-container {
    display: grid; /* Utilisation de la grille CSS */
    grid-template-columns: repeat(3, 1fr); /* Trois colonnes de largeur égale */
    gap: 20px; /* Espacement entre les cartes */
    margin-top: 20px; /* Espacement en haut */
}

.search-bar {
    display: flex; /* Flexbox pour aligner les éléments */
    justify-content: center; /* Centrer la barre de recherche */
    margin-bottom: 20px; /* Espacement en bas */
}

.category-filter {
    display: flex; /* Flexbox pour aligner les boutons de catégorie */
    justify-content: center; /* Centrer les boutons */
    margin-bottom: 20px; /* Espacement en bas */
}

.category-button {
    padding: 10px 15px; /* Espacement interne */
    background: linear-gradient(90deg, #3498db, #2980b9); /* Dégradé de couleur */
    color: white; /* Couleur du texte */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointer */
    transition: background 0.3s, transform 0.2s; /* Transition pour l'effet au survol */
}

.category-button:hover {
    background: linear-gradient(90deg, #2980b9, #3498db); /* Dégradé inversé au survol */
    transform: scale(1.05); /* Légère augmentation au survol */
}

.filter-container {
    display: flex; /* Flexbox pour aligner les filtres */
    justify-content: center; /* Centrer les filtres */
    margin-bottom: 20px; /* Espacement en bas */
    flex-wrap: wrap; /* Permettre le retour à la ligne si nécessaire */
    gap: 10px; /* Espacement entre les boutons */
}

.filter-buttons {
    display: flex; /* Flexbox pour aligner les boutons */
    justify-content: center; /* Centrer les boutons */
    flex-wrap: wrap; /* Permettre le retour à la ligne si nécessaire */
}

.filter-button {
    margin: 0 10px; /* Espacement entre les boutons de filtre */
    padding: 10px 20px; /* Espacement interne */
    background: linear-gradient(90deg, #3498db, #2980b9); /* Dégradé de couleur */
    color: white; /* Couleur du texte */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointer */
    transition: background 0.3s, transform 0.2s; /* Transition pour l'effet au survol */
    font-weight: bold; /* Texte en gras pour le bouton */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre légère pour le bouton */
    margin-bottom: 10px; /* Espacement en bas des boutons */
}

.filter-button:hover {
    background: linear-gradient(90deg, #2980b9, #3498db); /* Dégradé inversé au survol */
    transform: scale(1.05); /* Légère augmentation au survol */
}

.filter-button.active {
    background-color: #2980b9; /* Couleur au survol */
}

.filter-title {
    color: #333; /* Couleur de texte plus foncée pour le titre des filtres */
    font-size: 1.5rem; /* Taille de police */
    margin-bottom: 15px; /* Espacement en bas */
    text-align: center; /* Centrer le texte */
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Une seule colonne sur mobile */
    }

    .search-input {
        width: 100%; /* La barre de recherche prend toute la largeur */
    }

    .search-button {
        width: 40px; /* Ajustement de la largeur du bouton de recherche */
        height: 40px; /* Ajustement de la hauteur du bouton de recherche */
    }

    .filter-buttons {
        flex-direction: column; /* Les boutons de filtre s'empilent sur mobile */
        align-items: center; /* Centrer les boutons */
        width: 100%; /* Les boutons prennent toute la largeur */
    }

    .filter-button {
        width: 100%; /* Les boutons de filtre prennent toute la largeur */
        margin-bottom: 10px; /* Espacement entre les boutons */
        padding: 10px; /* Espacement interne pour un meilleur clic */
    }

    .tool-card {
        margin: 5px; /* Réduire l'espacement entre les cartes */
    }
}

.dialog-content {
    padding: 20px; /* Espacement interne pour le contenu du dialogue */
}

.dialog-title {
    font-size: 1.8rem; /* Taille de police pour le titre du dialogue */
    color: #333; /* Couleur du texte */
    margin: 0; /* Supprimer la marge par défaut */
    text-align: center; /* Centrer le titre */
}

.p-card {
    border-radius: 10px; /* Coins arrondis pour le card */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombre douce pour le card */
}

.tool-description {
    color: #444; /* Couleur de texte légèrement plus foncée pour une meilleure lisibilité */
    font-size: 1rem; /* Taille de police */
    margin-bottom: 15px; /* Espacement en bas */
    line-height: 1.5; /* Hauteur de ligne pour une meilleure lisibilité */
    white-space: normal; /* Permet le retour à la ligne */
    overflow: visible; /* Assurez-vous que le texte déborde si nécessaire */
    text-overflow: clip; /* Ne pas ajouter de points de suspension */
}

/* Styles pour rendre le dialogue responsive */
@media (max-width: 768px) {
    .dialog-content {
        padding: 10px; /* Réduire l'espacement interne sur mobile */
    }

    .dialog-title {
        font-size: 1.5rem; /* Réduire la taille de police sur mobile */
    }

    .tool-description {
        font-size: 0.9rem; /* Réduire la taille de police sur mobile */
    }
}