<section class="page-liste"> <!-- Ajout d'une classe pour le style général -->
  <h1 class="title custom-title">Liste des outils disponibles :</h1> <!-- Classe pour le style du titre -->
  <div class="container"> <!-- Conteneur pour la barre de recherche et les cartes -->
    <div class="search-bar p-inputgroup custom-search-bar"> <!-- Classe pour le style de la barre de recherche -->
      <input type="text" pInputText [(ngModel)]="value" placeholder="Rechercher un outil..." class="search-input" />
      <button pButton type="button" class="search-button">
        <i class="pi-search" style="color: black;"></i> <!-- Changement de couleur en noir -->
      </button>
    </div>
    
    <div class="grid-container"> <!-- Conteneur de la grille -->
      <div *ngFor="let tool of tools">
        <p-card [header]="tool.name" [subheader]="tool.categorie" [style]="{ width: '100%' }" class="tool-card"> <!-- Utilisation de p-card pour chaque outil -->
          <ng-template pTemplate="header">
            <img [src]="tool.image" alt="{{ tool.name }}" class="p-card-image" /> <!-- Affichage de l'image depuis la BDD -->
          </ng-template>
          <p class="tool-description">{{ tool.description }}</p> <!-- Affichage de la description -->
          <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
              <a [href]="tool.lien" pButton label="Voir plus" class="w-full" styleClass="w-full"></a> <!-- Bouton pour voir plus -->
            </div>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
</section>
