<section class="grid items-center justify-center grid-cols-1 px-4 py-24 text-center lg:grid-cols-3">
    <div class="col-auto lg:col-start-2">
        <p class="mb-2 font-bold text-primary text-sm md:text-xl">
            Tech Tool Box 
        </p>
        <p class="pb-10 md:leading-tight md:mb-6 text-sm md:text-xl">
            offrant une agrégation d'IA, de sites web et de logiciels essentiels
        </p>
        <a href="#"
            class="w-full shadow-xl p-5 rounded-xl btn btn-primary btn-lg bg-indigo-700 text-white sm:w-auto">Lancez-vous
            dès maintenant
        </a>
    </div>
</section>
